* {
	margin: 0;
	font-family: "Quicksand", sans-serif;
	font-weight: 700;
	
	--bg-color: #f1c40f;
	--text-color: black;
}
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	scroll-behavior: smooth;
	-webkit-tap-highlight-color: transparent;
	
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background: var(--bg-color);
	flex-direction: column;
}
a {
    color: inherit;
	text-decoration: none;
}

body > div {
	text-align: center;
	width: 20em;
}

#logo {
	height: 18em;
	margin-bottom: 2em;
	background: url('../images/html/devjck.svg');
	background-size: cover;
	background-position: bottom;
    background-repeat: no-repeat;
}

button {
    width: 20em;
    height: 4.5em;
	padding: 1.5em 1.5em;
    margin-bottom: 2em;
	background: var(--bg-color);
	border: none;
	border-radius: .5rem;
	color: var(--text-color);
	font-size: 1rem;
	letter-spacing: .2rem;
	text-align: center;
	outline: none;
	cursor: pointer;
	transition: .2s ease-in-out;
	box-shadow: -6px -6px 14px rgba(255, 255, 255, .35),
			  -6px -6px 10px rgba(255, 255, 255, .25),
			  6px 6px 8px rgba(255, 255, 255, .0375),
			  6px 6px 10px rgba(0, 0, 0, .30);
}
button:hover {
	box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
			  -2px -2px 4px rgba(255, 255, 255, .4),
			  2px 2px 2px rgba(255, 255, 255, .05),
			  2px 2px 4px rgba(0, 0, 0, .5);
}
button:active {
	box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
			  inset -2px -2px 4px rgba(255, 255, 255, .5),
			  inset 2px 2px 2px rgba(255, 255, 255, .075),
			  inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.secondary-buttons {
    justify-content: space-between;
    display: flex;
}
.secondary-buttons button {
	font-size: 1.7em;
	height: calc(4.5em / 1.7);
	margin-bottom: calc(2em / 1.7);
	width: 3em;
	padding: 0.5em 0.5em;
}
.secondary-buttons button.large {
	width: 12.75em;
    text-align: left;
    font-size: 1em;
    height: 4.5em;
    padding-left: 2.4em;
    padding-bottom: 1em;
}
.large i {
    font-size: 1.9em;
}
button.active {
	background: var(--text-color);;
	color: var(--bg-color);
}

/*
FONTS
*/
@font-face {
	font-family: "Quicksand";
	src: url(../fonts/Quicksand/Quicksand-Bold.ttf) format("truetype");
	font-weight: 700;
}